# Папка сборки CMake
build/

# Служебные файлы VS Code
.vscode/
*.code-workspace

# Артефакты компиляции (на всякий случай)
*.o
*.a
*.so
*.exe

# Файлы, создаваемые некоторыми IDE
*.swp
*.swo
*~
.DS_Store